{% extends "mapapp/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h1><b>Welcome to Jorge Luis Sanchez's Map App!</b></h1>
  <p>February 26th, 2018</p>
  <h2>This is part of the course 514-Geospatial software development at Brigham Young University.</h2>
  <h3>Here you will find the written <b><a href="/apps/mapapp/proposal">proposal</a></b> for the Snow Pack Project.</h3>
  <h3>Also you will see the planned <b><a href="/apps/mapapp/mockup">Mock Up</a></b> for the Snow Pack Project.</h3>
  <h3><b><a href="/apps/mapapp/mapview">Map View</a></b> includes a map with three data sets from BYU ArcMap Geoserver2.</h3>
  <h3><b><a href="/apps/mapapp/dataservices">Data Services</a></b> talks about the data service used in <b><a href="/apps/mapapp/mapview">Map View</a></b>, how the data were created, where are the data hosting, and what data is included</h3>
  <h3>The <b><a href="/apps/mapapp/about">about</a></b> page include a little bit about who the author is and a link to contact him.</h3>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}

{% block app_actions %}
{% endblock %}